/****************************************/
/* Приклад коду властивостей для header */
/****************************************/

/* Для закоментованих властивостей можна */
/* вказати власні значення та зняти коментар */

header {
    background-image: url("../img/home.jpg");
    background-size: cover;
    color:#fff;
    text-align: center;
    justify-content: center;
}

header .row {
    height: 100vh;  /* Приклад! Висота header завжди рівна висоті екрану пристрою */
    justify-content: center;  /* Контейнери всередині header .row центруються по основній осі (горизонтально) */
    align-items: center;  /* Контейнер всередині header .row центрується по поперечній осі (вертикально) */
}

#hipster {
    background: white;
    padding: 40pt 20pt;
    opacity: 0.5;
}
header h1 {
    font-family: Didact Gothic; 
    font-size: 78pt; 
    color: black;
}
.name {
    font-family: Didact Gothic;
    font-size: 30pt;
    color: black;
}
@media screen and (max-width:900px) {
    header h1 {
        font-size:60pt;
    }
}
@media screen and (max-width:767px) {
     header h1 {
        font-size:30pt;
    }
    .name {
        font-size:15pt;
    }
}